.background {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    transform: scale(1.1);
    background-size: cover;
  }

.home .greeting {
    color: #f9fafc;
    text-shadow: 2px 2px 8px black;
}

.home .typing-carousel {
  font-size: 15pt;
  text-shadow: 2px 2px 8px black;
}